{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2.4,url=main">
    <title>나의 영원, 원영</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/firstpage.css' %}">
</head>
<body style="background-image: url('{% static 'img/firstpagewy.jpeg' %}');">
    <div id="container">
        <span>나의</span> <span id="iloveyou">사랑</span> <span>원영</span>
    </div>
</body>
<script src="{% static 'js/firstpage.js' %}"></script>
</html>
