{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=10.0">
    <title>나의 영원, 원영</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<header>
    <a href="main"> 나의 영원, 원영</a>
</header>
 <main>
    <div id= "PhotoFrame">
         <div id="Photo">
            <img src="{% static 'img/mainimg_wy.jpeg'%}" alt="mainimg_wy.jpeg">
        </div>
    </div>

</div>





</main>

<footer>
 @
</footer>

</body> 
</html>